.DS_Store

*/__pycache__

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

first-neural-network/*.zip
first-neural-network/*.json

intro-to-tensorflow/*.pickle
intro-to-tensorflow/*.zip

cnn/*.zip
cnn/*.gz
intro-to-rnns/checkpoints*/*

embeddings/checkpoints*/*

sentiment-rnn/checkpoints*/*
tv-script-generation/checkpoint*
tv-script-generation/save*
tv-script-generation/*.zip

batch-norm/MNIST_data/

face_generation/*.zip
